.clientJobDash {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  
  .clientJobDash h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .jobLists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 20px;
    justify-content: center;
  }
  
  /* Responsive Design */
  @media (max-width: 800px) {
    .jobLists {
      grid-template-columns: 1fr 1fr;
      
    }
  }
  @media (max-width: 550px){
.jobLists{
    grid-template-columns: 1fr;
    
}
.clientJobDash{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  }
  